/* Write your code here. */

.list-con {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 2px solid #e4e7eb;
  margin: 5px;
}

.list-con-text {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  align-items: center;
}

.but {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hor {
  width: 100%;
}

.plus-icon {
  width: 40px;
  height: 40px;
}

.para {
  color: #9aa5b1;
  padding: 5px;
}
